.navbar{background-color:#448;border-color:#080808;height:50px;width:100%;position:absolute;top: 0;left: 0;}
.container-fluid{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
.navbar-header{float:left}
.navbar-brand{color:white;text-decoration: none;float:left;;margin-top:15px}
.navbar-brand:hover{color:red;text-decoration: underline;}
.navbar-header_one{float:right}
.navbar-nav{color:#eee;float:right}
.navbar-nav .left{float:left}
.navbar-nav li{display: inline;}
/*.navbar-nav li:nth-child(4){background-color:green;}*/
.navbar-nav a{color:aqua;display: inline;text-decoration: none;}
.navbar-nav a:hover{color:red;text-decoration: underline;}
