.navbar{background-color:#448;border-color:#080808;height:50px;width:100%;position:absolute;top: 0;left: 0;}
.container-fluid{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
.navbar-header{float:left}
.navbar-brand{color:white;text-decoration: none;float:left;;margin-top:15px}
.navbar-brand:hover{color:red;text-decoration: underline;}
.navbar-header_one{float:right}
.navbar-nav{color:#eee;float:right}
.navbar-nav .left{float:left}
.navbar-nav li{display: inline;}
/*.navbar-nav li:nth-child(4){background-color:green;}*/
.navbar-nav a{color:aqua;display: inline;text-decoration: none;}
.navbar-nav a:hover{color:red;text-decoration: underline;}
.signing{float:left;color:red;display: inline;}
.sidebar{padding-right:800px;}
.main {
	margin-left: 10%;
	padding: 15px;
	float: left;
	width: 70%;
}
.sidebar {
	margin-left: 84%;
	padding: 15px;
	background: #E9F5FE;
	border:5px solid black;
}
.active{color:red}
.active:hover{color:aqua}
.active a{color:red;text-decoration: underline;}
.active a:hover{color:aqua;text-decoration: underline;}
