.navbar{background-color:#448;border-color:#080808;height:50px;width:100%;position:absolute;top: 0;left: 0;}
.container-fluid{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
.navbar-header{float:left}
.navbar-brand{color:white;text-decoration: none;}
.navbar-brand:hover{color:red;text-decoration: underline;}
.navbar-headerone{float:right}
.navbar-nav{list-style-type: none;}
.navbar-nav li{color:#white;display: inline;}
.navbar-nav li:hover{color:red;text-decoration: underline;}
