{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About Rango{% endblock %}

{% block body_block %}
<button id="#about-btn"> Click Me - I'm Javascript on Speed</button>

<p>This is a example</p>

<p>This is another example</p>
<div id="msg">Hello</div>
<button onClick="alert('You clicked the button using Javascript.');">
       Click Me - I run Javascript
</button>

	<div class="page-header">
				<h1>About</h1>
			</div>
			<div>
			<p></strong>.</p>
<h2>This website maked for real thing </h2>
	<div class="page-headerone">
				<h5>You visited this site {{visits}} times</h5>
			</div>
{% endblock %}
