{% load static %}

<html>

	<head>
		<title>Rango</title>
	</head>
	
	<body>
		<h1>Rango says...hello world!</h1>
		<h2>Our site categories for learning</h2>
		{% if categories %}
			<ul>
				{% for category in categories %}
				<li><a href="/rango/category/{{ category.slug}}">{{ category.name}}</a></li>
				{% endfor %}
			<ul>
		{% else %}
			<strong>There are no categories present.</strong>
		{% endif %}
		<h2>Top 5 most viewed pages</h2>
		{% if pages %}
			<ul>
				{% for page in pages %}
				<li><a href="{{ page.url }}">{{ page.title }}</a></li>
				{% endfor %}
			</ul>
			{% else %}
				<strong>No pages currently in category.</strong>
		{% endif %}
			
		<a href="/rango/about/">About Rango</a><br />
		<img src="/static/images/pes.jpg" alt="Picture of Pes" /> <!-- New line -->
	</body>

</html>