{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Main page{% endblock %}
	
{% block body_block %}
	{% if user.is_authenticated %}
	<div class="page-header">
		<h1>Ранго каже привіт {{ user.username }}!</h1>
	{% else %}
		<h1>Ранго каже привіт!</h1>
	{% endif %}
	</div>
	<h2>Категорії сайту для навчання</h2>
	{% if categories %}
		<ul>
			{% for category in categories %}
			<li><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>
			{% endfor %}
		<ul>
	{% else %}
		<strong>Немає категорій.</strong>
	{% endif %}
	<h2>Топ 5 найвідвідуваніших сторінок</h2>
	{% if pages %}
		<ul>
			{% for page in pages %}
			<li><a href="{{ page.url }}">{{ page.title }}</a></li>
			{% endfor %}
		</ul>
		{% else %}
			<strong>В категорії немає сторінок.</strong>
	{% endif %}
	<h1>                           </h1>	
	<img src="/static/images/django.png" alt="Picture of Pes" /> <!-- New line -->
	<h3>Ви відвідали цю сторінку {{visits}} разів</h3>
{% endblock %}
