<!DOCTYPE html>
{% load rango_extras %}
{% load staticfiles %}
{% load i18n %}


<html lang="en">
    <head>
		<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src='/static/js/rango_jquery.js'></script>
		<script src="/static/js/rango-ajax.js"></script>
		<link rel="icon" href="/static/images/python.png">
		<title>Ранго - {% block title %}Як зтанцювати танго!{% endblock %}</title>
		<link href="/static/CSS/Base.css" rel="stylesheet">
		<link href="/static/CSS/dashboard.css" rel="stylesheet">
    </head>
	<body>
	
    <div class="navbar">
		<div class="container-fluid">
			<a class="navbar-brand" href="/rango/">Сторінка Ранго</a>
			<ul class="navbar-nav">
				{% if user.is_authenticated %}
					<li><a href="{% url 'restricted' %}">Таємна кіната</a></li>
					<li><a href="{% url 'auth_logout' %}?next=/rango/">Вийти</a></li>
					<li><a href="{% url 'add_category' %}">Додати нову категорію</a></li>
					<li><a href="{% url 'auth_password_change' %}">Змінити пароль</a></li>
				{% else %}
					<li><a href="{% url 'registration_register' %}">Зареєструватись</a></li>
					<li><a href="{% url 'auth_login' %}">Увійти</a></li>
				{% endif %}
					<li><a href="{% url 'about' %}">Про проект</a></li>
					<li><a href="/">Початкова сторінка</a></li>

			</ul>
		</div>
	</div>
	{% if LANGUAGE_CODE == 'uk' %}
		{% get_current_language as LANGUAGE_CODE %}
		<!-- Current language: {{ LANGUAGE_CODE }} -->
		<p>{% trans "Welcome to our page" %}</p>
	{% endif %}
	{% language 'uk' %}
		{% get_current_language as LANGUAGE_CODE %}
		<!-- Current language: {{ LANGUAGE_CODE }} -->
		<p>{% trans "Welcome to our page" %}</p>
	{% endlanguage %}
	<div class="sidebar">
		{% block side_block %}{% get_category_list category %}{% endblock %}
		<ul>
        <li class= "leftlist">Find a Category</li>
        <form>
        <label></label>
        <li class= "leftlist"><input type="text" name="suggestion" value="" id="suggestion" /></li>
        </form>
		</ul>
		<div id="cats">
		</div>
		
	</div>
	
	{% block body_block %}{% endblock %}
	</body>
</html>