<!DOCTYPE html>
{% load rango_extras %}

<html lang="en">
    <head>
		<link rel="icon" href="/static/images/python.png">
		<title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>
		<link href="/static/CSS/Base.css" rel="stylesheet">
		<link href="/static/CSS/dashboard.css" rel="stylesheet">
    </head>
	<body>

    <div class="navbar">
		<div class="container-fluid">
			<a class="navbar-brand" href="/rango/">Rango page</a>
			<ul class="navbar-nav">
				{% if user.is_authenticated %}
					<li><a href="{% url 'restricted' %}">Restricted Page</a></li>
					<li><a href="{% url 'auth_logout' %}?next=/rango/">Logout</a></li>
					<li><a href="{% url 'add_category' %}">Add a New Category</a></li>
					<li><a href="{% url 'auth_password_change' %}">Change password</a></li>
				{% else %}
					<li><a href="{% url 'registration_register' %}">Register Here</a></li>
					<li><a href="{% url 'auth_login' %}">Login</a></li>
				{% endif %}
					<li><a href="{% url 'about' %}">About</a></li>
					<li><a href="{% url 'index' %}">Index page</a></li>
					<li><a href="/">Home page</a></li>

			</ul>
		</div>
	</div>

	<div class="sidebar">
		{% block side_block %}{% get_category_list category %}{% endblock %}
	</div>
	
	{% block body_block %}{% endblock %}
	</body>
</html>